<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css"/>
	<script src="https://code.angularjs.org/1.2.0/angular.js"></script>	
	<script src="app.js"></script>		
</head>
<body>
<section  ng-app="formFlickr" ng-controller="FlickrController">
<div class="container-fluid">

    <div class="col-sm-4" style="background-color:lavenderblush;">
       <h1>Flickr web-app that fetches imagesasdfsd</h1>
			
					<p>	 Enter Search Key</p>
						<form name="form" >
						  <input id="searchCriteria"
								 ng-model="searchCriteria.tags"
								 ng-target="form.tags"
								 name="tags"
								 type="text"
								 title="required input"
								 placeholder="Enter key words (tags) separated by a comma."
								 ng-keyup="search(searchCriteria);document.getElementsByName('tags').focus();"
								 required />
						</form>
				</div> 
  
    <div class="col-sm-8" style="background-color:lavender;">
    
        <div id="images" >
			  <h3 ng-show="images.items.length > 0">
				{{images.title}}
              </h3>
		<div class="added-fig" ng-repeat="i in images.items">
            <div class="row" >
                            <img class="added-img" src="{{i.media.m}}" ng-click="clickAnImage(i);"/> 
                      
                                   <p>{{i.author}}</p>
						<p>{{i.tags}}</p>
					<p><a href="{{i.link}}">{{i.title}}</a></p>
                            </div>
                           
                </div>		
		
			</div>
		</div>
    </div>
  
</section>

</body>
</html>

